{% extends 'core/base.html' %}
{% block title %}Detalle de Compañía{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h4>Detalle de Compañía</h4>
    </div>
    <div class="card-body">

        <p><strong>Nombre:</strong> {{ company.partner.name }}</p>
        <p><strong>RUC:</strong> {{ company.partner.num_document }}</p>
        <p><strong>Secuencia:</strong> {{ company.sequence }}</p>
        <p><strong>Moneda:</strong> {{ company.currency }}</p>
        <p><strong>Email:</strong> {{ company.email }}</p>
        <p><strong>Activo:</strong> {{ company.active|yesno:"Sí,No" }}</p>

        <hr>
        <a href="{% url 'billing:company_edit' company.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'billing:company_list' %}" class="btn btn-secondary">Volver</a>

    </div>
</div>
{% endblock %}
